<div>
	<% if inner.content? %>
		<% unless User.find(inner.user_id).id == session[:userid] %>
		<strong><%= User.find(inner.user_id).nickname %></strong>
		<br>
		<% end %>
		
		<%= inner.content %><br>
		<% if inner.user_id == session[:userid] %>
			<%= link_to "Хочу удалить это", inner, method: :delete, data: { confirm: "Sure?"}, class: "small-link" %>
		<% end %>
	<% end %>
</div>
